<footer>
    <div>
        <p>&copy; {{#if year}} 
            
            {{year}}
            {{else}}
            2021
            {{/if}}{{site.title}}</p>
        <p>{{site.author}}</p>
    </div>
</footer>